:root {
    --background-color: #F6F4EB;
    --navbar-color: #4682A9;
    --container-color: #91C8E4;
    --header-color: #003753;
    --button-color: #749BC2;
    --button-hover-color: #4980b6;
    --md-dark-color: #262626;
    --dark-color: #171717;
    --light-dark-color: #2d2f30;
}

body {
    font-family: "Poppins", sans-serif;
}

.big-container {
    background-color: var(--container-color);
    margin: 3.5em 2em;
    padding: 2em;
}

.big-container h3 {
    font-weight: bold;
    color: var(--header-color);
    text-align: center;
}

.librarian-container, .membership-container, .ophours-container, .rules-container, .fines-container {
    width: 80%;
    margin: auto auto;
    padding: 1.5em;
    background-color: white;
    border: none;
}

/* edit image */
.librarian-container .library-pic {
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    position: relative;
    margin: auto;
    width: 50em;
    height: 30em;

    .upload-image {
        display: none;
    }

    .new-library {
        position: absolute;
        object-fit: cover;
        width: 45em;
        height: 25em;
        box-shadow: 0 0 1em 0 rgba(255, 255, 255, .35);
        z-index: 0;
    }

    .word {
        cursor: pointer;
        width: 45em;
        height: 25em;
    }

    &:hover {
        .word {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(74, 81, 88, 0.8);
            z-index: 10000;
            color: var(--fontColor);
            transition: background-color .2s ease-in-out;
            margin-bottom: 0;
        }
    }

    span {
        display: inline-flex;
        padding: .2em;
        height: 2em;
    }
}

.wrap {
    padding: 2rem 3rem;
}

.wrap .edit-librarian-text {
    background: transparent;
    text-align: center;
    height: 2.2rem;
    width: 100%;
    position: relative;
    margin-bottom: 3rem;
}

.wrap .edit-librarian-text textarea {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    padding-bottom: 0;
    border-bottom: 0.1rem solid #6d6e6f;
    font-size: 1rem;
    outline: none;
    resize: none;
}

/* Button */
.editlibrary-btn, .clearlibrary-btn {
    padding-top: 1.6rem;
    text-align: center;
}

.editlibrary {
    outline: none;
    border-radius: 0.1rem;
    border: none;
    background-color: var(--button-color);
    color: #0f0c30;
    box-shadow: 0 0 1.4rem rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.6rem 2rem;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.clearlibrary {
    outline: none;
    border-radius: 0.1rem;
    border: none;
    background-color: var(--button-color);
    color: #0f0c30;
    box-shadow: 0 0 1.4rem rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.6rem 1rem;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.editlibrary:hover, .clearlibrary:hover {
    background-color: var(--button-hover-color);
}