:root {
    --background-color: #F6F4EB;
    --navbar-color: #4682A9;
    --container-color: #91C8E4;
    --header-color: #003753;
    --button-color: #749BC2;
    --button-hover-color: #4980b6;
    --md-dark-color: #262626;
    --dark-color: #171717;
    --light-dark-color: #2d2f30;
}

body {
    font-family: "Poppins", sans-serif;
}

.big-container {
    background-color: var(--container-color);
    margin: 3.5em 2em;
    padding: 2em;
}

.big-container h3 {
    font-weight: bold;
    color: var(--header-color);
    text-align: center;
}

.librarian-container, .membership-container, .ophours-container, .rules-container, .fines-container {
    width: 80%;
    margin: 0 auto;
    padding: 1.5em;
    background-color: white;
    border: none;
}

.tox-promotion, svg {
    display: none;
}

.wrap {
    padding: 1rem 2rem;
}

.wrap .header {
    text-align: center;
    color: #0c426b;
    background-color: #c4dde9;
    padding: 0.1em 0;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.container-row {
    display: flex;
    flex-direction: row;
}

.container-row .librarian-container {
    margin-right: 1em;
}

/* edit content */
.wrap .edit-librarian-text, .edit-member-text, .edit-ophour-text, .edit-rules-text, .edit-fines-text {
    width: 100%;
    background: transparent;
    text-align: center;
}

.wrap .edit-librarian-text textarea, .edit-member-text textarea, .edit-ophour-text textarea, .edit-rules-text textarea, .edit-fines-text textarea {
    width: 100%;
}

/* show content */
.wrap .show-librarian-text, .show-member-text, .show-ophour-text, .show-rules-text, .show-fines-text {
    height: 100%;
    width: 100%;
    background-color: #eaf2f8;
    box-sizing: border-box;
    border: none;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    padding: 1em 2em;
    font-size: 0.9em;
}

/* Button */
.editlibrarian-btn, .editmember-btn, .editophour-btn, .editrules-btn, .editfines-btn {
    padding-top: 1.6rem;
    text-align: center;
}

.editlibrarian, .editmember, .editophour, .editrules, .editfines {
    outline: none;
    border-radius: 0.1rem;
    border: none;
    background-color: var(--button-color);
    color: #0f0c30;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.6rem 2rem;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.editlibrarian:hover, .editmember:hover, .editophour:hover, .editrules:hover, .editfines:hover {
    box-shadow: inset -4em 0 0 0 var(--button-hover-color), inset 4em 0 0 0 var(--button-hover-color);
}