:root {
    --background-color: #F6F4EB;
    --navbar-color: #4682A9;
    --container-color: #91C8E4;
    --header-color: #003753;
    --button-color: #749BC2;
    --button-hover-color: #4980b6;
    --md-dark-color: #262626;
    --dark-color: #171717;
    --light-dark-color: #2d2f30;
}

body {
    font-family: "Poppins", sans-serif;
}

.big-container {
    background-color: var(--container-color);
    margin: 3.5em 2em;
    padding: 2em;
}

.big-container h3 {
    font-weight: bold;
    color: var(--header-color);
    text-align: center;
}

.overlay-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

/* add admin */
.add-book {
    width: 8em;
    float: right;
    padding: 0.4em;
    margin-right: 4.6em;
    margin-bottom: 1em;
    border-radius: 0.2em;
    background-color: var(--header-color);
    text-align: center;
    color: white;
    font-size: 0.9em;
}

.add-book:hover {
    cursor: pointer;
    background-color: #005e8d;
    transition: .3s ease-in-out;
}

.new-book-container {
    width: 50%;
    margin: 0 auto;
    border: none;
}

.new-book-form {
    width: 90%;
    background-color: #f0f0f0;
    padding: 1.5em;
    margin-bottom: 3em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.new-book-container .wrap {
    padding: 1.5em 4em;
}

.new-book-container .wrap .InputText {
    background: transparent;
    text-align: center;
    height: 2.2em;
    width: 100%;
    position: relative;
    margin-bottom: 3em;
}

.new-book-container .wrap .InputText input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    padding-bottom: 0;
    border-bottom: 0.1em solid var(--md-dark-color);
    font-size: 0.9em;
    outline: none;
}

.new-book-container .wrap .InputText input:invalid~label {
    transform: translateY(-1.4em);
    transition: all 0.3s ease;
    outline: none;
}

.new-book-container .wrap .InputText input:focus~label,
.new-book-container .wrap .InputText input:valid~label {
    transform: translateY(-1.6em);
    transition: all 0.3s ease;
    outline: none;
}

.new-book-container .wrap .InputText label {
    font-size: 0.9em;
    position: absolute;
    bottom: 0.5em;
    left: 0;
    color: var(--header-color);
    pointer-events: none;
}

.new-book-container .wrap .SelectInput {
    width: 100%;
}

.new-book-container .wrap .SelectInput label {
    margin-bottom: 0.4em;
    font-size: 0.9em;
    color: var(--header-color);
    pointer-events: none;
}

.new-book-container .wrap .SelectInput .bcat {
    width: 100%;
    border: none;
    border-radius: 0.2em;
    outline: none;
    padding: 0.5em;
    font-family: "Poppins", sans-serif;
    font-size: 0.8em;
}

.new-book-container .header {
    text-align: center;
    padding: 0 3em;
    color: var(--header-color);
}

/* upload File */
.new-book-container .wrap .InputFile label {
    font-size: 0.9em;
    color: var(--header-color);
}

.file-upload-wrapper {
    background: #8caabc;
    position: relative;
    width: 100%;
    height: 2em;

    &:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        background: #dee4e9;
        padding: 0.8em;
        display: block;
        width: calc(100% - 7.2em);
        pointer-events: none;
        z-index: 20;
        height: 1.4em;
        line-height: 1.4em;
        font-size: 0.9em;
        color: #858585;
    }

    &:before {
        content: 'Upload';
        position: absolute;
        top: 0;
        right: 0;
        background: #8caabc;
        padding: 0.8em;
        display: inline-block;
        font-weight: 600;
        pointer-events: none;
        z-index: 20;
        height: 1.4em;
        line-height: 1.4em;
        font-size: 0.9em;
        text-transform: uppercase;
    }

    &:hover {
        &:before {
            background-color: #5e7e92;
        }
    }

    .file-upload-field {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        height: 3em;
        margin: 0;
        padding: 0;
        display: block;
        cursor: pointer;
        width: 100%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cancel {
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

/* book details */
.edit-book-container {
    display: none;
    position: absolute;
    top: 19em;
    margin-left: 26em;
    width: 45%;
    animation: fade-in 0.5s;
    overflow-y: auto;
    border: none;
}

.edit-book-form {
    width: 85%;
    background-color: #f0f0f0;
    padding: 1.5em;
    margin-bottom: 3em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.edit-book-container .wrap {
    padding: 1.5em 4em;
}

.edit-book-container .wrap .InputText {
    background: transparent;
    height: 2.2em;
    width: 100%;
    position: relative;
    margin-bottom: 3em;
}

.edit-book-container .wrap .InputText input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    padding-bottom: 0;
    border-bottom: 0.1em solid var(--md-dark-color);
    font-size: 0.9em;
    outline: none;
}

.edit-book-container .wrap .InputText label {
    font-size: 0.9em;
    text-align: left;
    font-weight: bold;
    color: var(--header-color);
    pointer-events: none;
}

.edit-book-container .wrap .show-book .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.edit-book-container .wrap .show-book img,
.edit-book-container .wrap .cover-img {
    width: 35%;
}

.edit-book-container .wrap .SelectInput {
    width: 100%;
}

.edit-book-container .wrap .SelectInput label {
    margin-bottom: 0.4em;
    font-weight: bold;
    font-size: 0.9em;
    color: var(--header-color);
    pointer-events: none;
}

.edit-book-container .wrap .SelectInput .bcat {
    width: 100%;
    border: none;
    border-radius: 0.2em;
    outline: none;
    padding: 0.5em;
    font-family: "Poppins", sans-serif;
    font-size: 0.8em;
}

.edit-book-container .header {
    text-align: center;
    padding: 0 3em;
    color: var(--header-color);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cancel {
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

*/

/* category tab */
.tab-container {
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 1em;
}

.tabs button {
    width: 100%;
    background-color: var(--header-color);
    color: white;
    padding: 0.5em 0;
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    font-family: "Poppins", sans-serif;
}

.tabs button:hover {
    background-color: #00699e;
}

.tabcontent {
    display: block;
    animation: fade-in 0.8s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* search bar */
.search-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 1em 0;
    border: none;
}

.search-box .searchInput,
.search-box .searchInput2 {
    width: 88%;
    padding: 1em;
    border: none;
    border-radius: 2.5em;
    outline: none;
}

/* view book detail button */
.view {
    color: var(--dark-color);
}

.view:hover {
    color: var(--button-hover-color);
}

/* catalog list */
.catalog-container {
    width: 90%;
    margin: 1em auto;
    border: none;
    background-color: white;
}

.catalog-container .book {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 0.5em 0;
}

.catalog-container .book .book-detail {
    display: flex;
    width: 100%;
    border-bottom: 0.1em solid #d2d2d2;
    padding: 0.6em;
    cursor: pointer;
}

.catalog-container .coverimage {
    flex: 0.5;
    text-align: center;
    margin: auto;
}

.catalog-container .coverimage .cover-img {
    width: 6.8em;
    height: 9em;
}

.catalog-container .detail {
    flex: 2.3;
    font-size: 0.8em;
    margin: auto 0;
}

.catalog-container .book .publiyear,
.catalog-container .book .location {
    color: #585858;
}

.catalog-container .book .del-action,
.catalog-container .book .edit-action {
    flex: 0.1;
    margin: auto;
    padding: 4em 0 ;
    width: 100%;
    text-align: center;
    transition: ease-in-out 0.2s;
}

.catalog-container .del-action .del,
.catalog-container .edit-action .edit {
    padding: 0 0.8em;
    color: var(--dark-color);
}

.catalog-container .edit-action:hover {
    background-color: #92ff90;
}

.catalog-container .del-action:hover {
    background-color: #ff9292;
}

/* pagination */
.pagination-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.pagination-container .pagination {
    list-style: none;
}

.pagination li {
    display: inline;
    margin-right: 1.2em;
}

.pagination li:last-child {
    margin-right: 0;
}

.pagination a {
    display: inline-block;
    width: 6em;
    padding: 0.3em;
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--dark-color);
    border: none;
    border-radius: 0.2em;
    font-size: 0.8em;
}

.pagination span {
    display: inline-block;
    width: 6em;
    padding: 0.3em;
    text-decoration: none;
    background-color: #c6c6c6d1;
    color: #969696bf;
    border: none;
    border-radius: 0.2em;
    font-size: 0.8em;
}

.pagination a:hover {
    background-color: var(--button-hover-color);
    color: #fff;
}

/* button */
.new-book-btn,
.edit-book-btn {
    padding-top: 1em;
    text-align: center;
}

.new-book-btn .new-book,
.edit-book-btn .edit-book {
    width: 8em;
    outline: none;
    border-radius: 0.1rem;
    border: none;
    background-color: var(--button-color);
    color: #0f0c30;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.5rem 0;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.new-book-btn .new-book:hover,
.edit-book-btn .edit-book:hover {
    box-shadow: inset -4em 0 0 0 var(--button-hover-color), inset 4em 0 0 0 var(--button-hover-color);
}