:root {
    --background-color: #F6F4EB;
    --navbar-color: #4682A9;
    --container-color: #91C8E4;
    --header-color: #003753;
    --button-color: #749BC2;
    --button-hover-color: #4980b6;
    --md-dark-color: #262626;
    --dark-color: #171717;
    --light-dark-color: #2d2f30;
}

body {
    font-family: "Poppins", sans-serif;
}

.big-container {
    background-color: var(--container-color);
    margin: 3.5em 2em;
    padding: 2em;
}

.big-container h3 {
    text-align: center;
    color: var(--header-color);
}

.overlay-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cancel {
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.flex-wrap {
    display: flex;
}

.slideshow-wrap {
    width: 100%;
}

.ann-wrap {
    width: 100%;
}

/* slideshow */
/* slideshow container */
.slideshow-container {
    width: 90%;
    position: relative;
    margin: auto;
}

/* next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 1em;
    color: white;
    font-weight: bold;
    font-size: 1em;
    transition: 0.6s ease;
    border-radius: 0 2em 2em 0;
    user-select: none;
}

/* position the "next button" to the right */
.next {
    right: 0;
    border-radius: 2em 0 0 2em;
}

/* on hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: #53799ebc;
}

/* dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 0.8em;
    width: 0.8em;
    margin: 0 0.1em;
    background-color: #e9eff5;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #53799e;
}

/* fading animation */
.slide-fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* announcement */
.announcement-container {
    width: 80%;
    margin: auto auto;
    padding: 1.6em;
    background-color: white;
    border: none;
}

.announcement-container .view-all {
    float: right;
    text-decoration: underline;
    font-size: 0.8em;
}

.ann-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    border: none;
    background-color: white;
}

.anntitle-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.anntitle-row .anntitle {
    width: 100%;
    margin: 0;
}

.anntitle-row .anntitle .link {
    border-bottom: 0.08em solid #bcbcbc;
}

.anntitle-row .link:hover {
    background-color: #f2f5f7;
}

.anntitle-row .anntitle a {
    display: inline-block;
    padding: 0.6em;
    font-size: 0.8em;
}

.anntitle-row .anntitle .title {
    width: 100%;
    color: var(--md-dark-color);
}

/* show content */
.ann-detail-container {
    display: none;
    position: absolute;
    top: 19em;
    margin-left: 26em;
    width: 50%;
    animation: fade-in 0.5s;
    overflow-y: auto;
    border: none;
}

.ann-detail-form {
    width: 90%;
    background-color: #f0f0f0;
    padding: 1.5em;
    margin-bottom: 3em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.ann-detail-form .show-ann-text {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    padding: 1em 2em;
    font-size: 0.9em;
}

.ann-detail-container .header {
    text-align: center;
    padding: 0 3em;
    color: var(--header-color);
}

/* monthly report */
.monthr-container {
    width: 80%;
    margin: 3em auto;
    padding: 3em;
    background-color: white;
    border: none;
}

.monthr-container .wrap {
    width: 100%;
    background-color: #3e3e3e;
}

.monthr-container .wrap #bookChart,
.monthr-container .wrap #catChart,
.monthr-container .wrap #resChart {
    margin: auto;
    padding: 2em;
}

.monthr-container .wrap .selectInput {
    padding: 0.6em;
    background-color: #666666;
}

.monthr-container .wrap .selectInput label {
    margin-right: 1em ;
    font-size: 0.9em;
    color: white;
    pointer-events: none;
}

.monthr-container .wrap .selectInput #yearR,
.monthr-container .wrap .selectInput #yearC,
.monthr-container .wrap .selectInput #yearB,
.monthr-container .wrap .selectInput #monthC,
.monthr-container .wrap .selectInput #monthB {
    width: 15%;
    border: none;
    border-radius: 0.2em;
    outline: none;
    padding: 0.3em;
    font-family: "Poppins", sans-serif;
    font-size: 0.8em;
}