:root {
    --background-color: #F6F4EB;
    --navbar-color: #4682A9;
    --container-color: #91C8E4;
    --header-color: #003753;
    --button-color: #749BC2;
    --button-hover-color: #4980b6;
    --md-dark-color: #262626;
    --dark-color: #171717;
    --light-dark-color: #2d2f30;
}

body {
    font-family: "Poppins", sans-serif;
}

.big-container {
    background-color: var(--container-color);
    margin: 3.5em 2em;
    padding: 2em;
}

.big-container h3 {
    font-weight: bold;
    color: var(--header-color);
    text-align: center;
}

/* add new online database */
.add-db {
    width: 10em;
    float: right;
    padding: 0.4em;
    margin-right: 4.6em;
    margin-bottom: 1em;
    border-radius: 0.2em;
    background-color: var(--header-color);
    text-align: center;
    color: white;
    font-size: 0.9em;
}

.add-db:hover {
    cursor: pointer;
    background-color: #005e8d;
    transition: .3s ease-in-out;
}

.new-db-container {
    display: none;
    position: absolute;
    top: 12em;
    margin-left: 22em;
    width: 55%;
    animation: fade-in 0.5s;
    overflow-y: auto;
    border: none;
    
}

.new-db-form {
    width: 90%;
    background-color: #f0f0f0;
    padding: 1.5em;
    margin-bottom: 3em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.new-db-container .wrap {
    padding: 1.5em 4em;
}

.new-db-container .wrap .InputText {
    background: transparent;
    text-align: center;
    height: 2.2em;
    width: 100%;
    position: relative;
    margin-bottom: 3em;
}

.new-db-container .wrap .InputText input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    padding-bottom: 0;
    border-bottom: 0.1em solid var(--md-dark-color);
    font-size: 0.9em;
    outline: none;
}

.new-db-container .wrap .InputText input:focus~label,
.new-db-container .wrap .InputText input:valid~label {
    transform: translateY(-1.5em);
    transition: all 0.3s ease;
    color: #f0f0f0;
    outline: none;
}

.new-db-container .wrap .InputText label {
    font-size: 0.9em;
    position: absolute;
    bottom: 0.5em;
    left: 0;
    color: var(--header-color);
    pointer-events: none;
}

.new-db-container .wrap .SelectInput {
    width: 100%;
}

.new-db-container .wrap .SelectInput label {
    margin-bottom: 0.4em;
    font-size: 0.9em;
    color: var(--header-color);
    pointer-events: none;
}

.new-db-container .wrap .SelectInput .dbcat {
    width: 100%;
    border: none;
    border-radius: 0.2em;
    outline: none;
    padding: 0.5em;
    font-family: "Poppins", sans-serif;
    font-size: 0.8em;
}

.new-db-container .header {
    text-align: center;
    padding: 0 3em;
    color: var(--header-color);
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.cancel {
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

/* delete online database button */
.del {
    color: var(--dark-color);
}

.del:hover {
    color: var(--button-hover-color);
}

/* table list */
.onlinedb-container {
    width: 90%;
    margin: 0 auto;
    border: none;
}

.onlinedb-container table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.action {
    width: 4em;
    text-align: center;
}

.onlinedb-container table th, td {
    padding: 0.6em;
    white-space: nowrap;
    width: fit-content;
}

.onlinedb-container table thead th {
    text-align: center;
    background-color: var(--header-color);
    color: white;
    font-size: 0.9em;
}

.onlinedb-container table tbody tr:hover {
    background-color: #f2f5f7;
}

.onlinedb-container table tbody td a {
    color: var(--md-dark-color);
    font-size: 0.8em;
    padding: 0 1.4em;
}

/* buttons */
.new-db-btn, .user-detail-btn {
    padding-top: 1em;
    text-align: center;
}

.new-db-btn .new-db, .user-detail-btn .user-approve, .user-detail-btn .user-reject {
    width: 8em;
    outline: none;
    border-radius: 0.1rem;
    border: none;
    background-color: var(--button-color);
    color: #0f0c30;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.5rem 0;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.new-db-btn .new-db:hover, .user-detail-btn .user-approve:hover, .user-detail-btn .user-reject:hover {
    box-shadow: inset -4em 0 0 0 var(--button-hover-color), inset 4em 0 0 0 var(--button-hover-color);
}

/* Styles for screens with a maximum width of 768px */
@media only screen and (max-width: 1280px) {
    .big-container {
        width: 90%; /* Adjust width for smaller screens */
    }

    .new-admin-container {
        width: 50%; /* Adjust position for smaller screens */
    }

    .adminlist-container {
        width: 80%;
    }
}
