:root {
    --background-color: #F6F4EB;
    --navbar-color: #4682A9;
    --container-color: #91C8E4;
    --header-color: #003753;
    --button-color: #749BC2;
    --button-hover-color: #4980b6;
    --md-dark-color: #262626;
    --dark-color: #171717;
    --light-dark-color: #2d2f30;
}

body {
    font-family: "Poppins", sans-serif;
}

.big-container {
    background-color: var(--container-color);
    margin: 3.5em 2em;
    padding: 2em;
}

.big-container h3 {
    font-weight: bold;
    color: var(--header-color);
    text-align: center;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cancel {
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

/* delete button */
.del {
    color: var(--dark-color);
}

.del:hover {
    color: var(--button-hover-color);
}

/* add new online database */
.add-db {
    width: 10em;
    float: right;
    padding: 0.4em;
    margin-right: 9.2em;
    margin-bottom: 1em;
    border-radius: 0.2em;
    background-color: var(--header-color);
    text-align: center;
    color: white;
    font-size: 0.9em;
}

.add-db:hover {
    cursor: pointer;
    background-color: #005e8d;
    transition: .3s ease-in-out;
}

.new-db-container {
    display: none;
    position: absolute;
    top: 19em;
    margin-left: 22em;
    width: 55%;
    animation: fade-in 0.5s;
    overflow-y: auto;
    border: none;
}

.new-db-form {
    width: 90%;
    background-color: #f0f0f0;
    padding: 1.5em;
    margin-bottom: 3em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.new-db-container .wrap {
    padding: 1.5em 4em;
}

.new-db-container .wrap .InputText {
    background: transparent;
    text-align: center;
    height: 2.2em;
    width: 100%;
    position: relative;
    margin-bottom: 3em;
}

.new-db-container .wrap .InputText input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    padding-bottom: 0;
    border-bottom: 0.1em solid var(--md-dark-color);
    font-size: 0.9em;
    outline: none;
}

.new-db-container .wrap .InputText input:invalid~label {
    transform: translateY(-1.4em);
    transition: all 0.3s ease;
    outline: none;
}

.new-db-container .wrap .InputText input:focus~label,
.new-db-container .wrap .InputText input:valid~label {
    transform: translateY(-1.6em);
    transition: all 0.3s ease;
    outline: none;
}

.new-db-container .wrap .InputText label {
    font-size: 0.9em;
    position: absolute;
    bottom: 0.5em;
    left: 0;
    color: var(--header-color);
    pointer-events: none;
}

.new-db-container .wrap .SelectInput {
    width: 100%;
}

.new-db-container .wrap .SelectInput label {
    margin-bottom: 0.4em;
    font-size: 0.9em;
    color: var(--header-color);
    pointer-events: none;
}

.new-db-container .wrap .SelectInput .dbcat {
    width: 100%;
    border: none;
    border-radius: 0.2em;
    outline: none;
    padding: 0.5em;
    font-family: "Poppins", sans-serif;
    font-size: 0.8em;
}

.new-db-container .header {
    text-align: center;
    padding: 0 3em;
    color: var(--header-color);
}

/* add new programme */
.add-programme {
    width: 10em;
    float: right;
    padding: 0.4em;
    margin-right: 9.2em;
    margin-bottom: 1em;
    border-radius: 0.2em;
    background-color: var(--header-color);
    text-align: center;
    color: white;
    font-size: 0.9em;
}

.add-programme:hover {
    cursor: pointer;
    background-color: #005e8d;
    transition: .3s ease-in-out;
}

.new-programme-container {
    display: none;
    position: absolute;
    top: 19em;
    margin-left: 22em;
    width: 55%;
    animation: fade-in 0.5s;
    overflow-y: auto;
    border: none;
}

.new-programme-form {
    width: 90%;
    background-color: #f0f0f0;
    padding: 1.5em;
    margin-bottom: 3em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.new-programme-container .wrap {
    padding: 1.5em 4em;
}

.new-programme-container .wrap .InputText {
    background: transparent;
    text-align: center;
    height: 2.2em;
    width: 100%;
    position: relative;
    margin-bottom: 3em;
}

.new-programme-container .wrap .InputText input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    padding-bottom: 0;
    border-bottom: 0.1em solid var(--md-dark-color);
    font-size: 0.9em;
    outline: none;
}

.new-programme-container .wrap .InputText input:invalid~label {
    transform: translateY(-1.4em);
    transition: all 0.3s ease;
    outline: none;
}

.new-programme-container .wrap .InputText input:focus~label,
.new-programme-container .wrap .InputText input:valid~label {
    transform: translateY(-1.6em);
    transition: all 0.3s ease;
    outline: none;
}

.new-programme-container .wrap .InputText label {
    font-size: 0.9em;
    position: absolute;
    bottom: 0.5em;
    left: 0;
    color: var(--header-color);
    pointer-events: none;
}

.new-programme-container .wrap .SelectInput {
    width: 100%;
}

.new-programme-container .wrap .SelectInput label {
    margin-bottom: 0.4em;
    font-size: 0.9em;
    color: var(--header-color);
    pointer-events: none;
}

.new-programme-container .wrap .SelectInput .school {
    width: 100%;
    border: none;
    border-radius: 0.2em;
    outline: none;
    padding: 0.5em;
    font-family: "Poppins", sans-serif;
    font-size: 0.8em;
}

.new-programme-container .header {
    text-align: center;
    padding: 0 3em;
    color: var(--header-color);
}

/* add new exam paper */
.add-exampaper {
    width: 10em;
    float: right;
    padding: 0.4em;
    margin-right: 9.2em;
    margin-bottom: 1em;
    border-radius: 0.2em;
    background-color: var(--header-color);
    text-align: center;
    color: white;
    font-size: 0.9em;
}

.add-exampaper:hover {
    cursor: pointer;
    background-color: #005e8d;
    transition: .3s ease-in-out;
}

.new-exampaper-container {
    width: 60%;
    margin: 0 auto;
    border: none;
}

.new-exampaper-form {
    width: 90%;
    background-color: #f0f0f0;
    padding: 1.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.new-exampaper-container .wrap {
    padding: 1.5em 4em;
}

.new-exampaper-container .wrap .InputText {
    background: transparent;
    text-align: center;
    height: 2.2em;
    width: 100%;
    position: relative;
    margin-bottom: 3em;
}

.new-exampaper-container .wrap .InputText input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    padding-bottom: 0;
    border-bottom: 0.1em solid var(--md-dark-color);
    font-size: 0.9em;
    outline: none;
}

.new-exampaper-container .wrap .InputText input:invalid~label {
    transform: translateY(-1.4em);
    transition: all 0.3s ease;
    outline: none;
}

.new-exampaper-container .wrap .InputText input:focus~label,
.new-exampaper-container .wrap .InputText input:valid~label {
    transform: translateY(-1.6em);
    transition: all 0.3s ease;
    outline: none;
}

.new-exampaper-container .wrap .InputText label {
    font-size: 0.9em;
    position: absolute;
    bottom: 0.5em;
    left: 0;
    color: var(--header-color);
    pointer-events: none;
}

.new-exampaper-container .wrap .InputText .date {
    font-family: "Poppins", sans-serif;
    font-size: 0.8em;
}

.new-exampaper-container .header {
    text-align: center;
    padding: 0 3em;
    color: var(--header-color);
}

/* upload File */
.wrap .InputFile label {
    font-size: 0.9em;
    color: var(--header-color);
}

.file-upload-wrapper {
    background: #8caabc;
    position: relative;
    width: 100%;
    height: 2em;

    &:after {
        content: attr(aria-placeholder);
        position: absolute;
        top: 0;
        left: 0;
        background: #dee4e9;
        padding: 0.8em;
        display: block;
        width: calc(100% - 7.2em);
        pointer-events: none;
        z-index: 20;
        height: 1.4em;
        line-height: 1.4em;
        font-size: 0.9em;
        color: #858585;
    }

    &:before {
        content: 'Upload';
        position: absolute;
        top: 0;
        right: 0;
        background: #8caabc;
        padding: 0.8em;
        display: inline-block;
        font-weight: 600;
        pointer-events: none;
        z-index: 20;
        height: 1.4em;
        line-height: 1.4em;
        font-size: 0.9em;
        text-transform: uppercase;
    }

    &:hover {
        &:before {
            background-color: #5e7e92;
        }
    }

    .file-upload-field {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        height: 3em;
        margin: 0;
        padding: 0;
        display: block;
        cursor: pointer;
        width: 100%;
    }
}

/* table list */
.onlinedb-container,
.programme-container,
.exampaper-container {
    width: 80%;
    margin: 0 auto;
    border: none;
}

.onlinedb-container table,
.programme-container table,
.exampaper-container table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.action {
    width: 4em;
    text-align: center;
}

.onlinedb-container table td,
.programme-container table td,
.exampaper-container table td {
    padding: 0.6em;
    white-space: nowrap;
}

.onlinedb-container table thead th,
.programme-container table thead th {
    padding: 0.6em;
    white-space: nowrap;
    text-align: center;
    background-color: var(--header-color);
    color: white;
    font-size: 0.9em;
}

.exampaper-container table thead th {
    padding: 0.6em;
    white-space: nowrap;
    text-align: center;
    background-color: #ececec;
    color: var(--md-dark-color);
    font-size: 0.9em;
}

.exampaper-container table thead .header {
    padding: 0.8em;
    white-space: nowrap;
    text-align: center;
    background-color: var(--header-color);
    color: white;
    font-size: 1em;
}

.onlinedb-container table tbody tr:hover,
.programme-container table tbody tr:hover,
.exampaper-container table tbody tr:hover {
    background-color: #f2f5f7;
}

.onlinedb-container table tbody td a,
.programme-container table tbody td a,
.exampaper-container table tbody td a {
    color: var(--md-dark-color);
    font-size: 0.8em;
    padding: 0 1.4em;
}

/* button */
.new-db-btn,
.new-programme-btn,
.new-exampaper-btn {
    padding-top: 1em;
    text-align: center;
}

.new-db-btn .new-db,
.new-programme-btn .new-programme,
.new-exampaper-btn .new-exampaper {
    width: 8em;
    outline: none;
    border-radius: 0.1rem;
    border: none;
    background-color: var(--button-color);
    color: #0f0c30;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.5rem 0;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.new-db-btn .new-db:hover,
.new-programme-btn .new-programme:hover,
.new-exampaper-btn .new-exampaper:hover {
    box-shadow: inset -4em 0 0 0 var(--button-hover-color), inset 4em 0 0 0 var(--button-hover-color);
}

/* styles for screens with a maximum width of 768px */
@media only screen and (max-width: 1280px) {
    .big-container {
        width: 90%;
        /* adjust width for smaller screens */
    }

    .new-admin-container {
        width: 50%;
        /* adjust position for smaller screens */
    }

    .adminlist-container {
        width: 80%;
    }
}