:root {
    --background-color: #F6F4EB;
    --navbar-color: #4682A9;
    --container-color: #91C8E4;
    --header-color: #003753;
    --button-color: #749BC2;
    --button-hover-color: #4980b6;
    --md-dark-color: #262626;
    --dark-color: #171717;
    --light-dark-color: #2d2f30;
}

body {
    font-family: "Poppins", sans-serif;
}

.big-container {
    background-color: var(--container-color);
    margin: 3.5em 2em;
    padding: 2em;
}

.big-container h3 {
    font-weight: bold;
    color: var(--header-color);
    text-align: center;
}

/* add admin */
.add-admin {
    width: 8em;
    float: right;
    padding: 0.4em;
    margin-right: 4.6em;
    margin-bottom: 1em;
    border-radius: 0.2em;
    background-color: var(--header-color);
    text-align: center;
    color: white;
    font-size: 0.9em;
}

.add-admin:hover {
    cursor: pointer;
    background-color: #005e8d;
    transition: .3s ease-in-out;
}

.new-admin-container {
    display: none;
    position: absolute;
    top: 12em;
    margin-left: 22em;
    width: 55%;
    animation: fade-in 0.5s;
    overflow-y: auto;
    border: none;
    
}

.new-admin-form {
    width: 90%;
    background-color: #f0f0f0;
    padding: 1.5em;
    margin-bottom: 3em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.new-admin-container .wrap {
    padding: 1.5em 4em;
}

.new-admin-container .wrap .InputText {
    background: transparent;
    text-align: center;
    height: 2.2em;
    width: 100%;
    position: relative;
    margin-bottom: 3em;
}

.new-admin-container .wrap .InputText input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    padding-bottom: 0;
    border-bottom: 0.1em solid var(--md-dark-color);
    font-size: 0.9em;
    outline: none;
}

.new-admin-container .wrap .InputText input:focus~label,
.new-admin-container .wrap .InputText input:valid~label {
    transform: translateY(-1.5em);
    transition: all 0.3s ease;
    color: #f0f0f0;
    outline: none;
}

.new-admin-container .wrap .InputText label {
    font-size: 0.9em;
    position: absolute;
    bottom: 0.5em;
    left: 0;
    color: var(--header-color);
    pointer-events: none;
}

.new-admin-container .header {
    text-align: center;
    padding: 0 3em;
    color: var(--header-color);
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.cancel {
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

/* pending user details */
.add-admin {
    width: 8em;
    float: right;
    padding: 0.4em;
    margin-right: 4.6em;
    margin-bottom: 1em;
    border-radius: 0.2em;
    background-color: var(--header-color);
    text-align: center;
    color: white;
    font-size: 0.9em;
}

.add-admin:hover {
    cursor: pointer;
    background-color: #005e8d;
    transition: .3s ease-in-out;
}

.user-detail-container {
    display: none;
    position: absolute;
    top: 14em;
    right: 22em;
    width: 55%;
    animation: fade-in 0.5s;
    overflow-y: auto;
    border: none;
}

.user-detail-form {
    width: 90%;
    background-color: #f0f0f0;
    padding: 1.5em;
    margin-bottom: 3em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.user-detail-container .wrap {
    padding: 1.5em 4em;
}

.user-detail-container .wrap .InputText {
    background: transparent;
    height: 2.2em;
    width: 100%;
    position: relative;
    margin-bottom: 3em;
}

.user-detail-container .wrap .InputText input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    padding-bottom: 0;
    border-bottom: 0.1em solid var(--md-dark-color);
    font-size: 0.9em;
    outline: none;
}

.user-detail-container .wrap .InputText label, .user-detail-container .wrap .show-stu-id label {
    font-size: 0.9em;
    text-align: left;
    font-weight: bold;
    color: var(--header-color);
    pointer-events: none;
}

.user-detail-container .wrap .show-stu-id .center {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.user-detail-container .wrap .show-stu-id img {
    width: 35%;
}

.user-detail-container .header {
    text-align: center;
    padding: 0 3em;
    color: var(--header-color);
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.cancel {
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
} */

/* user list tab */
.tab-container {
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}

.tablinks {
    width: 100%;
    background-color: #005e8d;
    color: white;
    padding: 0.6em 0;
    cursor: pointer;
    border: none;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    font-weight: bold;
    font-size: 1em;
    font-family: "Poppins", sans-serif;
}

.tablinks.active {
    background-color: var(--header-color);
}

.tablinks:hover {
    background-color: var(--header-color);
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
    animation: fade-in 0.8s;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* search bar */
.search-box {
    width: 88%;
    margin-top: 2em;
    margin-bottom: 3.5em;
    margin-left: 4.4em;
    margin-right: 4.4em;
    border: none;
}

.search-box .searchInput {
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 2.5em;
    outline: none;
}

/* delete admin and view user details buttons */
.del, .view {
    color: var(--dark-color);
}

.del:hover, .view:hover {
    color: var(--button-hover-color);
}

/* table list */
.adminlist-container, .userlist-container {
    width: 90%;
    margin: 0 auto;
    border: none;
}

.adminlist-container table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-radius: 0.5em;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
}

.userlist-container table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
}

.number,
.action {
    width: 5em;
    text-align: center;
}

th,
td {
    padding: 0.8em;
    white-space: nowrap;
    width: fit-content;
}

.adminlist-container table thead th, .userlist-container table thead th {
    text-align: center;
    background-color: var(--header-color);
    color: white;
}

.adminlist-container table tbody tr:hover, .userlist-container table tbody tr:hover {
    background-color: #f2f5f7;
}

.adminlist-container table tbody td, .userlist-container table tbody td {
    color: var(--md-dark-color);
}

/* buttons */
.new-admin-btn, .user-detail-btn {
    padding-top: 1em;
    text-align: center;
}

.new-admin-btn .new-admin, .user-detail-btn .user-approve, .user-detail-btn .user-reject {
    width: 8em;
    outline: none;
    border-radius: 0.1rem;
    border: none;
    background-color: var(--button-color);
    color: #0f0c30;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.5rem 0;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.new-admin-btn .new-admin:hover, .user-detail-btn .user-approve:hover, .user-detail-btn .user-reject:hover {
    box-shadow: inset -4em 0 0 0 var(--button-hover-color), inset 4em 0 0 0 var(--button-hover-color);
}

/* Styles for screens with a maximum width of 768px */
@media only screen and (max-width: 1280px) {
    .big-container {
        width: 90%; /* Adjust width for smaller screens */
    }

    .new-admin-container {
        width: 50%; /* Adjust position for smaller screens */
    }

    .adminlist-container {
        width: 80%;
    }
}
